<div class="container">
<div class="card">
  <div class="card-header text-center">
    <h4>HOME PAGE</h4>
  </div>
  <div class="card-block">
   <ul class="list-group">
     <li class='list-group-item active'><h4>This project contains bellow examples</h4></li>
     <li class='list-group-item'>Fetching Json Data</li>
     <li class='list-group-item'>Using Session storage API</li>
     <li class='list-group-item'>Sorting on demand</li>
     <li class='list-group-item'>Pagination on demand</li>
     <li class='list-group-item'>Communication in between components</li>
     <li class='list-group-item'>Lazy Loading Modules</li>
     <li class='list-group-item'>Form Contorl and Validation</li>
   </ul>
  </div>
</div>
