<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-main></app-main> -->
<div class="container text-center">
  <br>
  <div class="btn-group">
    <button class="btn btn-primary btn-lg" data-toggle="tooltip" title="it will load the Home Page" routerLink="home"> To Home Page <i class="fa fa-arrow-right"></i> </button>
    <button class="btn btn-danger btn-lg" data-toggle="tooltip" title="it will load the Pagination and Sort components" routerLink="content"> To Main Component <i class="fa fa-arrow-right"></i></button>

    <button class="btn btn-primary btn-lg" data-toggle="tooltip" title="it will load the Lazy module" routerLink="lazy/lazyform"> Lazy Module REACTIVE FORM <i class="fa fa-arrow-right"></i></button>

    <button class="btn btn-danger btn-lg" data-toggle="tooltip" title="it will load the Lazy module" routerLink="newlazy"> To Lazy component with children route <i class="fa fa-arrow-right"></i></button>
  </div>
</div>
<br>
<router-outlet></router-outlet>
